apiVersion: "apps/v1"
kind: "Deployment"
metadata:
  name: "app-scanner"
  namespace: "scanner"
  labels:
    app: "k8s-node"
spec:
  replicas: 30
  selector:
    matchLabels:
      app: "k8s-node"
  template:
    metadata:
      labels:
        app: "k8s-node"
    spec:
      containers:
        - name: "app-scanner"
          image: "232679411998.dkr.ecr.us-east-1.amazonaws.com/app_scanner:buildNumber"
          resources:
            requests:
              memory: "64Mi"
              cpu: "250m"
            limits:
              memory: "128Mi"
              cpu: "500m"
