apiVersion: "v1"
kind: "Service"
metadata:
  name: "app-scanner"
  namespace: "scanner"
spec:
  ports:
    - protocol: "TCP"
      port: 80
      targetPort: 3000
  selector:
    app: "k8s-node"
  type: "LoadBalancer"
